*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
  
  }
.study-section {
    width: 100%;
    margin: 0 auto;
    background: #fff;
    padding: 0px;
    margin-bottom: 5em; 
}

.footer{
    background: #7e297e none repeat scroll 0 0 !important;
    border-top: 1px solid #eeeeee;
    font-size: 14px;
    padding: 10px 0 !important;
    
    color: white;
    text-decoration: none;
    
    
    
  }
.login_register{
    display: inline-flex;
    background: #AB34AB;
    justify-content: space-between;
    color:#fff;
    border-radius: 2px;
}
.terms-cond a{
    color: #fff;
}
.copyright{
    font-size: 1rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
}
.study-section h1 {
    color: #7e287d;
    font: bold 28px/22px "Open Sans",Arial,Helvetica,sans-serif;
    margin-bottom: 29px;
    margin-top: 1em;
    text-align: center;
}

.navbar{
    background: #7e297e none repeat scroll 0 0 !important;
    color: #fff!important;
}
.navbar a{
    color: #fcfcfc !important;
    display: block;
    font: 13px/22px "Open Sans",Arial,Helvetica,sans-serif;
    padding: 1px 0;
}
.std-r1 a{
    color: #000 !important;
    display: block;
    font: 13px/22px "Open Sans",Arial,Helvetica,sans-serif;
    padding: 1px 0;
}
.arr2 {
    bottom: -17px;
    display: inline-table;
    margin-left: 91px;
    position: absolute;
    float: left;
    
}
.arr3 {
    position: absolute;
    left: -17px;
    top: 39%;
}
.r-one-c-four{
    padding:0px 0px;
}
.arr1 {
    position: absolute;
    right: -17px;
    top: 39%;
}
.std-r1 a:not([data-attr="img"]){
    border:2px solid #dc56e1!important;
}
.icons{
    color:#ab34ab ;
}