* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.login_register {
  display: inline-flex;
  background: #ab34ab;
  justify-content: space-between;
  color: #fff;
  border-radius: 2px;
}
.terms-cond a {
  color: #fff;
}
.copyright {
  font-size: 1rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
}
.navbar {
  background: #7e297e none repeat scroll 0 0 !important;
  color: #fff !important;
}
.navbar a {
  color: #fcfcfc !important;
  display: block;
  font: 13px/22px "Open Sans", Arial, Helvetica, sans-serif;
  padding: 1px 0;
}
.footer {
  background: #7e297e none repeat scroll 0 0 !important;
  border-top: 1px solid #eeeeee;
  font-size: 14px;
  padding: 10px 0 !important;

  color: white;
  text-decoration: none;
}
.footer h6 a:not(.btn) {
  color: #ffffff;
}
.icons {
  color: #ab34ab;
}
.es-toolbar .navbar-inner {
  background: #a32fa1 none repeat scroll 0 0;
  position: relative;
  min-height: 35px;
  height: 35px;
  padding-left: 0;
  padding-right: 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: none;
  margin-top: 30px;
}
.icons {
  color: #ab34ab;
}
.lock-nav {
    width: 100%;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    background-color: #ab34ab;
    color: #fff;
    border-radius: 3px;
}
body a:not(.btn) {
  color: #7e287d;
}
.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}
.text-note {
  color: #555 !important;
}
.profile-selected {
  padding: 10px;
  border: 1px solid #d7d7d7;
  color: #666;
  background: #f2f2f2;
  margin-bottom: 15px;
  margin-top:20px;
}
.form-label{
  font-size: 12px;
  font-weight: bold;
}
legend{
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
}
p {
	color: grey;
}

#heading {
	text-transform: uppercase;
	color: #ab34ab;
	font-weight: normal;
}

#msform {
    text-align: center;
    position: relative;
    margin-top: 20px;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;

    /*stacking fieldsets above each other*/
    position: relative;
}

.form-card {
	text-align: left;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

#msform input, #msform textarea {
    padding: 8px 15px 8px 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    background-color: #ECEFF1;
    font-size: 16px;
    letter-spacing: 1px;
}

#msform input:focus, #msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #ab34ab;
    outline-width: 0;
}

/*Next Buttons*/
#msform .action-button {
    width: 100px;
    background:#ab34ab;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0px 10px 5px;
    float: right;
}

#msform .action-button:hover, #msform .action-button:focus {
    background-color: #ab34ab;
}

/*Previous Buttons*/
#msform .action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 0px;
    float: right;
}

#msform .action-button-previous:hover, #msform .action-button-previous:focus {
    background-color: #000000;
}

/*The background card*/
.card {
    z-index: 0;
    border: none;
    position: relative;
}

/*FieldSet headings*/
.fs-title {
    font-size: 25px;
    color: #ab34ab;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: left;
}

.purple-text {
	color: #ab34ab;
  font-weight: normal;
}

/*Step Count*/
.steps {
	font-size: 25px;
    color: gray;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: right;
}

/*Field names*/
.fieldlabels {
	color: gray;
	text-align: left;
}

/*Icon progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey;
}

#progressbar .active {
    color: #ab34ab;
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400;
}

/*Icons in the ProgressBar*/
#progressbar #account:before {
    font-family: FontAwesome;
    content: "\f13e";
}

#progressbar #personal:before {
    font-family: FontAwesome;
    content: "\f007";
}

#progressbar #payment:before {
    font-family: FontAwesome;
    content: "\f030";
}

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c";
}

/*Icon ProgressBar before any progress*/
#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px;
}

/*ProgressBar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1;
}

/*Color number of the step and the connector before it*/
#progressbar li.active:before, #progressbar li.active:after {
    background: #ab34ab;
}

/*Animated Progress Bar*/
.progress {
	height: 20px;
}

.progress-bar {
	background-color: #ab34ab;
}

/*Fit image in bootstrap div*/
.fit-image{
    width: 100%;
    object-fit: cover;
}
